/* Page entière */

body
{
    background: url("../images/fond.png") fixed no-repeat;
    background-size: 100%;
}

header
{
    position: fixed;
    z-index: 1;
    background: url("../images/fond.png") fixed no-repeat;
    /*background: inherit;*/
    width: 100%;
    height: 120px;
    padding: 10px;
    background-size: cover;
}

footer
{
    padding: 10px;
    background-color: white;
}

h1, h2, h3
{
    text-align:center;
}

h1
{
    font-style: bold;
}

h3
{
    color:black;
    font-size: 1.8em;
    font-style: bold;
    margin-bottom: 0px;
}

#mainContent
{
    padding-top: 120px;
    /*position: absolute;*/
    top: 120px;
    overflow: hidden;
    /*z-index: -1;*/
}

.postContent
{
    max-height: 358px;
    overflow: hidden;
    background: url("../images/ticket.png") no-repeat;
    background-size: 100% 100%;
}

.postContent h3
{
    padding-top: 58px;
}

.postContent p
{
    padding: 20px 20px 10px 50px; 
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 195px, rgba(0,0,0,0) 255px, rgba(0,0,0,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;
}

.date
{
    background-color: white;
}

.reported
{
    color: red;
}

/* Header */

#idMenu
{
    text-align: center;
}

/* Corps de la page */

#aside
{
    position: fixed;
    margin: 50px;
}

#aside p
{
    background-color: white;
}

.textbox
{
    margin: 15px;
    background-color: white;
}

a
{
    text-decoration: none;
    color: rgb(5, 140, 149);
}

.commentaires p
{
    background-color: #EEEEEE;
    margin:0px;
}