body
{
    background-color: #EEEEEE;
}

header
{
    padding: 10px;
    background-color: white;
}

h1, h2, h3
{
    text-align:center;
}

h1
{
    font-style: bold;
}

h3
{
    color:black;
    background-color: rgba(5, 201, 213, 0.5);
    font-size: 1.5em;
    font-style: bold;
    margin-bottom:0px;
}

strong
{
    font-style: italic;
    color: rgb(5, 140, 149);
}

.news p
{
    background-color: white;
    margin-top:0px;
}

.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: rgb(5, 140, 149);
}

.commentaires
{
    width: 70%;
    margin: auto;
}

.commentaires p
{
    background-color: #EEEEEE;
    margin-top:0px;
}

/* fond gris
petit séparateur noir pour le footer
articles sur fond blanc + petite ombre
header sur fond blanc + logo + liens
éventuellement ça ne prend pas toute la largeur avec une partie à droite sur l'auteur et les moyens de la contacter
*/