/* Page entière */

body
{
    background-color: #EEEEEE;
}

header, footer
{
    padding: 10px;
    background-color: white;
}

h1, h2, h3
{
    text-align:center;
}

h1
{
    font-style: bold;
}

h3
{
    color:black;
    background-color: rgba(5, 201, 213, 0.5);
    font-size: 1.5em;
    font-style: bold;
    margin-bottom:0px;
}

.postContent
{
    max-height: 100px;
    overflow: hidden;
    background-color: white;
}

.date
{
    font-style: italic;
    color: rgb(5, 140, 149);
}

/* Header */

#titleBlock
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo
{
    max-height: 75px;
    max-width: 75px;
    overflow: hidden;
    border-radius: 37px;
    box-shadow: 4px 4px 4px rgb(100, 100, 100);
    margin: 15px;
}

#idMenu
{
    text-align: center;
}

/* Corps de la page */

#news p, #commentaires p
{
    background-color: white;
    margin:0px;
    padding: 0px 5px 0px 5px;  
}

#aside
{
    position: fixed;
    margin: 50px;
}

.textbox
{
    box-shadow: 4px 4px 4px rgb(100, 100, 100);
    margin: 15px;
    border-radius: 5px;

}

/*#news, #commentaires
{
    width:100%;
    margin:auto;
}*/

a
{
    text-decoration: none;
    color: rgb(5, 140, 149);
}

.commentaires p
{
    background-color: #EEEEEE;
    margin:0px;
}